@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-image: url('https://images.unsplash.com/photo-1504285762474-33956f15d2e8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=100');
    background-size: cover;
    color: white;

    height: 100vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

h1 {
    font-size: 3.5rem;
    margin-top: 15rem;
}

.countdown {
    margin-top: -3rem;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1rem;
}

.countdown span {
    display: block;
    font-size: 5rem;
}